@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog-landing {
  margin-left: 230px;
  margin-top: 50px;
  margin-right: 220px;
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: space-between;
}

.header span:first-child {
  font-size: 20px;
  font-weight: 500;
}
.createblog button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.createblog button:hover {
  background-color: cadetblue;
}

.header {
  background-color: #fbf3f3; /* Light background color for header */
  padding: 40px;
  text-align: center;
}

.blog .container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.header h1 {
  font-size: 36px;
  color: #333; /* Dark text color for headings */
}

.blog {
  background-color: #ffffff; /* White background for blog section */
  padding: 60px 0;
}

.title h2 {
  font-size: 28px;
  color: #007bff; /* Blue color for title */
}

.blog-item {
  max-width: 800px;
  margin: 0 auto 40px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
}

.blog-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Highlight on hover */
}

.blog-text h3 {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
}

.blog-text p {
  margin-top: 10px;
  line-height: 1.6;
  color: #666;
}

.blog-text a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.blog-text a:hover {
  background-color: #0056b3;
}
