@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog-landing {
  margin: 0px 250px 0px 160px;
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: space-between;
}

.header span:first-child {
  font-size: 20px;
  font-weight: 500;
}
.createblog button {
  background-color: #007bff;
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.createblog button:hover {
  background-color: cadetblue;
}

.header {
  padding: 20px;
  text-align: center;
}
.landingpage {
  display: flex;
  gap: 30px;
  padding-top: 10px;
}

.landingpage .box-frame {
  width: 65%;
  border: 1px solid rgb(197, 194, 194);
  border-radius: 3px;
  padding: 5px;
}
.box-frame .blog-box {
  display: flex;
  padding: 10px;
}
.blog-box .img-side img {
  width: 200px;
  height: 160px;
}

.blog-box .content-side {
  display: grid;
  border: 1px solid #fbf3f3;
  padding-left: 10px;
}
.content-side .blogtitle {
  font-weight: 500;
  padding-top: 10px;
}
.content-side span:nth-child(2) {
  font-size: 14px;
}

.content-side .blogdetails button {
  color: #007bff;
  padding: 7px 10px;
  border: 1px solid #007bff;
  background: none;
  border-radius: 5px;
  font-size: 13px;
  background-color: #ffffffe5;
  cursor: pointer;
}
.content-side .footer-side {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  font-size: 13px;
}

.recent-blog {
  display: grid;
  border: 1px solid rgb(197, 194, 194);
  border-radius: 3px;
  padding: 10px;
  width: 285px;
  max-height: 500px;
}

.recent-blog p:first-child {
  font-size: 13px;
  height: 30px;
  font-weight: 500;
  width: 240px;
  background-color: #d1cfcf;
  padding: 5px;
  border-radius: 5px;
}

.recent-blog p:nth-child(2) {
  font-size: 15px;
  line-height: 20px;
}

.recent-blog p:nth-child(2) {
  margin-left: 20px;
}
.recent-blog .bolgss {
  padding-top: 10px;
}
